* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.fondo{
    background-image: url('./assets/fondo1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    top: 0;
    right: 0;   
}
/* HEADER */
    .header {
        background-color: rgb(252, 96, 76);
        width: 100%;
        height: 50px;
        display: flex;  
        justify-content: space-around;

    }

    .header ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header ul li {
        width: 100%;
        height: 100%;
        padding: 0 25px;
        list-style: none;
        text-align: center;
        display: flex;
        align-items: center;
        transition: .2s;
    }
    
    
        .header ul li:hover{
            background-color: yellow;
            color: aliceblue;
        }

    .header ul li a{
        text-decoration: none;
        color: black;
        font-family:'Press Start 2P', 'cursive';
        font-size: 10px;
        text-align: center;
    }

    .logo img {
        width: 100%;
        height: 45px;
        transition: .2s;
    }

    .logo img:hover {
        transform: scale(1.2);
    }


/* CONTENEDOR */
    .all-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .allPokemons-title-container {
        position: fixed;
        z-index: 997;
        background-color: rgb(252, 96, 76);
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .allPokemons-title{
    font-family: 'Press Start 2P', 'cursive';
    color: rgb(255, 255, 120);
    text-align: center;
    }

    .pokemons-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pokemons-section div {
        width: 80px;
        height: 100px;
        margin: 20px;
        text-align: center;
        border: thin solid #000;
        transition: .1s;
        background-color: aliceblue;
        opacity: .9;
        text-decoration: none;
        color: #000000;
    }

    .pokemons-section div img {
        width: 100%;
    }

    .pokemons-section div:hover{
        transform: scale(1.3);
        opacity: 1;
    }

    .pokemons-section div p {
        font-family:'Press Start 2P', 'cursive';
        font-size: 7px;
        padding: 5px;
    }


/* RESPONSIVE */

@media (max-width: 600px) {
    .fondo{
        width: 100vw;
        height: 100vh;
    }

    .header {
        position: fixed;
        z-index: 999;
        bottom: 0;
        justify-content: space-between;
        height: 70px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .buscar-tipo{
        background-color: rgb(17, 117, 184);
        position: fixed;
        height: 100px;
        bottom: 70px;
        z-index: 999;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: auto;
    }

    .display-none{
        display: none;
    }

    .buscar-tipo button {
        margin: 5px;
        border: none;
        width: 100px;
        height: 30px; 
        border-radius: 15px;
        font-family: 'Press Start 2P', 'cursive';
        font-size: 10px;
    }
}